{% verbatim %}<!doctype html>
<html ng-app="pytx">
  <head>
    <title ng-bind="title">PyTexas $conf</title>
    <meta name="viewport" content="initial-scale=1">
    <script>
      var CONFIG = {
        dir: '$base/',
        conf: '$conf',
        api_base: '$api_base'
      }
    </script>
    
    <link rel="stylesheet" href="$base/bower/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="$base/bower/font-awesome/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Roboto:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="manifest" href="/$conf/manifest.json">
    <script>
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('$base/service-worker.js', { scope: '/$conf/' })
          .then(function(r) {
            console.log('registered service worker');
          })
          .catch(function(whut) {
            console.error('uh oh... ');
            console.error(whut);
          });
      });
    </script>
    
    <meta name="theme-color" content="#1e2933">
    <meta name="mobile-web-app-capable" content="yes"> 
    <meta name="application-name" content="PyTexas 2015">
    
    <link rel="icon" sizes="192x192" href="$base/logo192.png">
    <link rel="shortcut icon" href="$base/logo72.png">
    
    <link rel="apple-touch-icon" href="$base/logo48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="$base/logo72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="$base/logo96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="$base/logo144.png">
    <link rel="apple-touch-icon" sizes="192x192" href="$base/logo192.png">
    
    <link rel="stylesheet" href="$base/css/pytx.css">
    
    <base href="/$conf/">
  </head>
  <body layout="row">
    <md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="leftnav" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar layout="row" layout-align="center center">
        <div class="close-menu" hide-gt-md>
          <md-button ng-click="toggle_side()">
            <i class="fa fa-times"></i> Close Menu
          </md-button>
        </div>
      </md-toolbar>
      <md-content>
        <div ng-include="tpl('sidenav.html')"></div>
      </md-content>
    </md-sidenav>
    <div layout="column" layout-fill role="main">
      <md-toolbar>
        <div class="md-toolbar-tools header">
          <div hide-gt-md class="hamburger">
            <a aria-label="Toggle Menu" ng-click="toggle_side()" class="clickme">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div flex>
            <h2 layout="row" layout-align="start center">
              <a href="/$conf/" class="logo">
                <img ng-src="{{ img_path('banner80.png') }}" alt="PyTexas">
                <span>2015</span>
              </a>
            </h2>
          </div>
        </div>
      </md-toolbar>
      <md-content md-scroll-y flex class="main-content md-padding" id="main-content">
        <div class="view-animate-container">
          <div ng-view class="view-animate">Nothing to see here</div>
        </div>
        <footer>
          <a href="/$conf/about/privacy-policy">Privacy Policy</a>&nbsp; |&nbsp; 
          <a href="/$conf/about/code-of-conduct">Code of Conduct</a>&nbsp; |&nbsp; 
          Build: $release
        </footer>
      </md-content>
    </div>
    
    $scripts
    
    <!--
    <script src='//cdn.goroost.com/roostjs/e5j424mqd808dcaifhv1od0gt9v9dpb6' async></script>
    <script>
      var _roost = _roost || [];
      _roost.push(['autoprompt', false]);
      _roost.push(['onload', function(data) {
        if (data.promptable) {
          var element = document.querySelector("#notif-button");
          element.innerHTML = '<a class="md-button md-default-theme" href="#" onclick="_roost.prompt();"><span class="ng-scope">Enable Notifications</span></a>';
        }
      }]);
      _roost.push(['onresult', function(data) {
        if (data.enabled) {
          var element = document.querySelector("#notif-button");
          element.remove();
        }
      }]);
    </script>
    -->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-51684942-1', 'auto');
    </script>
    <!--prod-end-->
  </body>
</html>
{% endverbatim %}