{% load static thumbnail django_markdown %}
{% if sponsorCount > 0 %}
<div id="sponsors" class="container">
  <hr>
  <h2>Sponsors</h2>
  <ul class="levels">
    {% for l in sponsorLevels %}
    {% if l.sponsors.count > 0 %}
    <li>
      <h3>{{ l.name }} Sponsors</h3>
      <div class="sponsors">
        {% for s in l.sponsors %}
        <div>
          {% thumbnail s.logo "270x110" format="PNG" as im %}
          <a href="{{ s.url }}"><img src="{{ im.url }}" alt="{{ s.name }}"></a>
          {% empty %}
          <h4><a href="{{ s.url }}">{{ s.name }}</a></h4>
          {% endthumbnail %}
        </div>
        {% endfor %}
      </div>
      <div class="clear"></div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}