{% extends "base-sidebar.html" %}{% load static thumbnail django_markdown %}
{% block content-main %}
<div id="std-page">
  <h1><div>{{ title }}</div></h1>
  <div class="content">
    {{ content|markdown }}
  </div>
</div>
{% endblock %}
{% block content-side %}
<div class="about-side">
  <h4>More About PyTexas</h4>
  <ul>
    <li>
      <a href="/2014/about/">About The Conference</a>
    </li>
    <li>
      <a href="/2014/about/venue/">The Venue</a>
    </li>
    <li>
      <a href="/2014/code-of-conduct/">Code of Conduct</a>
    </li>
    <li>
      <a href="/2014/diversity/">Conference Diversity Statement</a>
    </li>
    <li>
      <a href="/2014/privacy-policy/">Privacy Policy</a>
    </li>
  </ul>
</div>
{% endblock %}