<div class="col-xs-12 col-md-3">
  <div class="about-side">
    <h4>Submit A Talk</h4>
    <ul>
      <li>
        <a href="/2014/call-for-proposals/"{% if request.path == "/2014/call-for-proposals/" %} style="font-weight: bold;"{% endif %}>Call For Proposals</a>
      </li>
      <li>
        <a href="/2014/submit-talk/"{% if request.path == "/2014/submit-talk/" %} style="font-weight: bold;"{% endif %}>Talk Submission Form</a>
      </li>
      <li>
        <a href="/2014/submit-lightning-talk/"{% if request.path == "/2014/submit-lightning-talk/" %} style="font-weight: bold;"{% endif %}>Lightning Talk Submission Form</a>
      </li>
      <li>
        <a href="/2014/proposed-talks/"{% if request.path == "/2014/proposed-talks/" %} style="font-weight: bold;"{% endif %}>Proposed Talks</a>
      </li>
    </ul>
  </div>
</div>