<div class="content-page AvatarPage">
  <h1>My Profile Image</h1>
  <div class="images" ng-if="image">
    <div ng-if="image.image">
      <h2>Avatar Image</h2>
      <img src="{{ image.image }}" alt="Avatar Profile Image">
      <p>
        <form enctype="multipart/form-data" method="post" action="/api/v1/users/avatar-upload">
          <input type="hidden" name="ret" value="/{{ conf }}{{ ret }}">
          <input type="hidden" name="jwt" value="{{ jwt }}">
          <strong>Upload A New Image:</strong><br>
          <input type="file" name="avatar"><br><br>
          <md-button class="md-raised md-primary">
            <i class="fa fa-caret-square-o-right"></i> Upload
          </md-button>
        </form>
      </p>
      <hr>
      <p>
        <strong>Clear Image and Use Gravatar <em>(Based on your E-Mail)</em></strong>
        <img src="{{ image.gravatar }}" alt="Gravatar Profile Image">
        <a href="http://gravatar.com/" target="_blank">Edit on Gravatar.com &raquo;</a>
        <br><br>
        <md-button class="md-raised md-primary" ng-click="use_gravatar()">
          <i class="fa fa-caret-square-o-right"></i> Use Gravatar
        </md-button>
      </p>
    </div>
    <div ng-if="!image.image">
      <h2>Gravatar Image <em>(Based on your E-Mail)</em></h2>
      <img src="{{ image.gravatar }}" alt="Gravatar Profile Image">
      <a href="http://gravatar.com/" target="_blank">Edit on Gravatar.com &raquo;</a>
      <br><br>
      <form enctype="multipart/form-data" method="post" action="/api/v1/users/avatar-upload">
        <input type="hidden" name="ret" value="/{{ conf }}{{ ret }}">
        <input type="hidden" name="jwt" value="{{ jwt }}">
        <strong>or Upload a custom image:</strong><br>
        <input type="file" name="avatar"><br><br>
        <md-button class="md-raised md-primary">
          <i class="fa fa-caret-square-o-right"></i> Upload
        </md-button>
      </form>
    </div>
  </div>
</div>