<div class="content-page SignupPage">
  <h1>Reset Password</h1>
  <div ng-hide="success || secret">
    <p>
      Fill in your username or e-mail to have your password reset.
    </p>
    <form name="resetForm" class="norm-form" ng-submit="do_reset()">
      <md-input-container>
        <label>Username</label>
        <input ng-model="form.username">
      </md-input-container>
      <md-input-container>
        <label>E-Mail</label>
        <input type="email" ng-model="form.email">
      </md-input-container>
      <md-button class="md-raised md-primary button">
        <i class="fa fa-caret-square-o-right"></i> Reset Password
      </md-button>
    </form>
  </div>
  <div ng-show="success">
    <h2>Check your e-mail for a password reset link.</h2>
  </div>
  <div ng-if="secret">
    <div class="loading" layout="row" layout-sm="column" layout-align="space-around" ng-if="checking">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-show="check_error">
      <h2>Invalid Reset Key.<br>Key has expired or has been used previously.</h2>
    </div>
    <div ng-show="show_reset_form">
      <form name="resetForm" class="norm-form" ng-submit="do_finish()">
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="form.password" required>
        </md-input-container>
        <md-input-container>
          <label>Confirm Password</label>
          <input type="password" ng-model="form.confirm" required>
        </md-input-container>
        <md-button class="md-raised md-primary button">
          <i class="fa fa-caret-square-o-right"></i> Reset Password
        </md-button>
      </form>
    </div>
    <div ng-show="finish_success">
      <h2>
        Your password has been reset.
      </h2>
      <h3>
        <md-button href="/{{ conf }}/user/login" class="md-raised">
          <i class="fa fa-caret-square-o-right"></i> Proceed To Login
        </md-button>
      </h3>
    </div>
  </div>
</div>