.starter-template {
  padding: 40px 15px;
  text-align: center;
}

body {
  font-family: @bodyFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headerFont;
}

.navbar-brand {
  font-family: @headerFont;
}

.clear {
  clear: both;
}

label.control-label > span.error {
  font-weight: normal;
}

#side-sponsors {
  padding-top: 20px;
  
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      margin: 0 0 20px 0;
      padding: 0;
      text-align: center;
      
      a {
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}

span.help {
  display: block;
  float: right;
  font-size: 85%;
}

#messages {
  text-align: center;
  
  .alert {
    margin-bottom: 0;
  }
  
  div.message {
    margin: 0 auto;
    max-width: 400px;
  }
}

li.markItUpButton {
  padding: 2px 5px;
}

textarea.markItUpEditor {
  width: 560px;
  display: block;
}

@media (max-width: 768px) {
  #messages {
    div.message {
      max-width: 100%;
    }
  }
}
