/*
blue gradient
background-image: linear-gradient(#1e415e 10%,#2b5b84 90%);

grey gradient
background-image: linear-gradient(#e6e8ea 10%,#d8dbde 90%);

nav active gradient
background-image: linear-gradient(#13191e 10%,#1f2a32 90%);
*/
body {
  padding-top: 60px;
  color: #444444;
  background-color: #ffffff;
}
a {
  color: #3776ab;
}
a:hover {
  color: #1e2933;
}
a:visited {
  color: #28567d;
}
.navbar-brand {
  height: 60px;
  padding: 10px 25px 10px 15px;
}
.navbar-brand img {
  height: 42px;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #999999;
}
.navbar-inverse {
  background-color: #1e2933;
  border-color: #070a0c;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #13191e;
  background-image: -webkit-linear-gradient(top, #13191e, #1f2a32);
  background-image: -ms-linear-gradient(top, #13191e, #1f2a32);
  background-image: linear-gradient(to bottom, #13191e, #1f2a32);
}
hr {
  border-color: #e6e8ea;
}
p {
  margin: 0 0 20px;
}
a.btn {
  color: #ffffff;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nova Square', cursive;
}
.navbar-brand {
  font-family: 'Nova Square', cursive;
}
.clear {
  clear: both;
}
label.control-label > span.error {
  font-weight: normal;
}
#side-sponsors {
  padding-top: 20px;
}
#side-sponsors > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#side-sponsors > ul li {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}
#side-sponsors > ul li a {
  font-weight: bold;
  font-size: 2rem;
}
span.help {
  display: block;
  float: right;
  font-size: 85%;
}
#messages {
  text-align: center;
}
#messages .alert {
  margin-bottom: 0;
}
#messages div.message {
  margin: 0 auto;
  max-width: 400px;
}
li.markItUpButton {
  padding: 2px 5px;
}
textarea.markItUpEditor {
  width: 560px;
  display: block;
}
@media (max-width: 768px) {
  #messages div.message {
    max-width: 100%;
  }
}
footer {
  text-align: center;
  margin: 20px 0;
  font-size: 90%;
}
.home-img {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background-image: url(/static/img/banner-msc-4.png);
  height: 200px;
  background-position: 50% 50%;
}
.home-img h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: -20px 0 0 0;
  top: 50%;
  font-family: 'Nova Square', cursive;
}
.home-img h1 span {
  background-color: #1e2933;
  background-color: rgba(30, 41, 51, 0.7);
  padding: 10px 20px;
  border-radius: 20px;
  color: #ffffff;
}
#home .intro {
  margin: 20px auto;
  max-width: 820px;
  font-size: 140%;
}
#sponsors ul.levels {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: none;
}
#sponsors ul.levels li {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #e6e8ea;
}
#sponsors ul.levels li .sponsors > div {
  float: left;
  margin-right: 20px;
}
#std-page > h1,
.std-page > h1 {
  background-image: url(../img/banner-msc-4.png);
  margin: 20px 0 30px 0;
  padding: 0;
}
#std-page > h1 > div,
.std-page > h1 > div {
  background-color: #1e2933;
  background-color: rgba(30, 41, 51, 0.7);
  padding: 20px;
  color: #ffffff;
}
#side-levels {
  padding-top: 20px;
}
#side-levels > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#side-levels > ul li {
  margin: 0 0 20px 10px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e6e8ea;
}
#side-levels > ul li:last-child {
  border-bottom: 0;
}
#profile table.handles td {
  vertical-align: top;
  padding: 0 10px 20px 0;
}
#profile table.handles td:last-child {
  vertical-align: middle;
  white-space: nowrap;
}
@media (max-width: 960px) {
  .home-img {
    width: 100%;
  }
}
.about-side {
  margin: 0 0 0 0;
}
.about-side h4 {
  margin-top: 0;
}
.about-side ul {
  font-size: 120%;
  margin: 20px 0 20px 20px;
  padding: 0;
  list-style-type: none;
}
.about-side ul li {
  margin: 20px 0;
}
