<div class="loading" layout="row" layout-sm="column" layout-align="space-around" ng-if="APIService.loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-hide="APIService.loading" class="Schedule content-page">
  <h1>Schedule</h1>
  <div>
    <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="tab in schedule" label="{{ tab.label }}">
        <div class="schedule">
          <!--<div layout="row" class="rooms">
            <div ng-repeat="room in tab.rooms" flex flex-order="{{ $index + 1 }}">{{ room }}</div>
          </div>-->
          <div layout="row" class="hour" ng-repeat="hour in tab.hours" layout-wrap>
            <div class="room" ng-repeat="(room_key, room) in hour.rooms" flex="{{ hour.flex_pc }}" flex-order="{{ room.flex_order }}" flex-order-sm="1" flex-sm="100" layout="column">
              <div class="talk talk{{ talk.duration }}" ng-repeat="talk in room.talks" flex>
                <h3>
                  <a href="/{{ conf }}/talk/{{ talk.id }}">{{ talk.name }}</a>
                </h3>
                <ul>
                  <li class="by" ng-if="talk.user && talk.user.username != 'TBA'">
                    by <a href="/{{ conf }}/user/{{ talk.user.username }}">
                      {{ talk.user.username }}<span ng-if="talk.user.name"> ({{ talk.user.name }})</span>
                    </a>
                  </li>
                  <li class="time">
                    {{ talk.start|amDateFormat:'hh:mm A' }} - {{ talk.end|amDateFormat:'hh:mm A' }}
                  </li>
                  <li class="room" ng-if="talk.room">Room: {{ talk.room.name }}</li>
                </ul>
              </div>
            </div>
            <div class="room empty" ng-repeat="flex in hour.flexs" flex="{{ hour.flex_pc }}" flex-order="{{ flex }}" hide-sm>
              
            </div>
          </div>
        </div>
      </md-tab>
    </md-tabs>
  </div>
</div>