{% extends "base-sidebar.html" %}{% load static thumbnail django_markdown gravatar pizza_tags %}
{% block extra_header %}
{{ form.media }}
{% endblock %}
{% block content-main %}
<div id="profile">
  <h1><div>{{ title }}</div></h1>
  <div class="content">
    {{ "speaker-info"|get_blurb|safe }}
    <hr>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form role="form" action="./" method="POST" style="max-width: 500px;">
      {% csrf_token %}
      {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}
        {{ field }}
        {% if field.errors %}<div class="text-danger">{{ field.errors.0 }}</div>{% endif %}
      </div>
      {% endfor %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
{% endblock %}