<div class="HomeCtrl">
  <div class="header" layout="row" layout-align="center center">
    <h1>PyTexas 2015</h1>
  </div>
  <div class="message">
    <p>
      September 25th-27th, 2015 in the Memorial Student Center, 
      at Texas A&M University
    </p>
    <a href="http://www.eventbrite.com/e/pytexas-2015-registration-17162264796?ref=ebtn" target="_blank">
      <img src="https://www.eventbrite.com/custombutton?eid=17162264796" alt="Eventbrite - PyTexas 2015" style="max-width: 100%;">
    </a>
    <p>
    	<br>
    	<a href="/2015/venue/hotels">Hotel Rates</a> have been posted. Reserve your room at discount.
    </p>
    <p>
      Conference Party:<br>Saturday, Sept 26th, 6:30 PM at 
      <a href="http://www.blackwaterbrew.com/">Blackwater Draw Brewing Co</a>.
      <br>
      303 Boyett College Station, Texas
    </p>
  </div>
  <div class="body tc">
    <div class="treble">
      <h2>
        <a href="/{{ conf }}/schedule">
          <i class="fa fa-calendar fa-3x"></i><br>
          Talk Schedule
        </a>
      </h2>
    </div>
    <div class="bass">
      <h2>
        <a href="https://gitter.im/pytexas/PyTexas">
          <i class="fa fa-commenting fa-3x"></i><br>
          Chat Room
        </a>
      </h2>
    </div>
    <div class="treble">
      <h2>
        <a href="/{{ conf }}/venue/map">
          <i class="fa fa-map-marker fa-3x"></i><br>
          Map &amp; Parking Info
        </a>
      </h2>
    </div>
  </div>
  <div class="latest-post" ng-if="latest_post">
    <h3>Latest Blog Post</h3>
    <md-list>
      <md-list-item class="md-3-line post" ng-repeat="post in [latest_post]">
        <ng-include src="tpl('blog/post-list-item.html')"></ng-include>
      </md-list-item>
    </md-list>
  </div>
  <div class="sponsors-list" ng-if="sponsor_levels.length > 0">
    <div class="level" ng-repeat="level in sponsor_levels">
      <div ng-if="level.sponsors.length > 0">
        <h2>{{ level.name }} Sponsors</h2>
        <div layout="row" layout-align="center center" layout-wrap>
          <a href="{{ sponsor.url }}" ng-repeat="sponsor in level.sponsors">
            <img src="{{ sponsor.logo | thumbnail:'w=250&h=250' }}" alt="{{ sponsor.name }}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
