<div class="HomeCtrl">
  <div class="header" layout="row" layout-align="center center">
    <h1>PyTexas 2015</h1>
  </div>
  <div class="message">
    <p>
      September 25th-27th, 2015 in the Memorial Student Center, 
      at Texas A&M University
    </p>
  </div>
  <div class="body tc">
    <div class="treble">
      <h2>
        <a href="/{{ conf }}/speakers/call-for-proposals">
          <i class="fa fa-bullhorn fa-3x"></i><br>
          Call for Talks
        </a>
      </h2>
    </div>
    <div class="bass">
      <h2>
        <a href="/{{ conf }}/sponsors/prospectus">
          <i class="fa fa-heart fa-3x"></i><br>
          Become A Sponsor
        </a>
      </h2>
    </div>
    <div class="treble">
      <h2>
        <a href="/{{ conf }}/about/registration">
          <i class="fa fa-pencil-square-o fa-3x"></i><br>
          Registration Info
        </a>
      </h2>
    </div>
  </div>
</div>
