<div class="content-page sponsorPage">
  <h1>Our Sponsors</h1>
  <div class="sponsors-list" ng-if="sponsor_levels.length > 0">
    <div class="level" ng-repeat="level in sponsor_levels">
      <div ng-if="level.sponsors.length > 0">
        <h2>{{ level.name }} Sponsors</h2>
        <div layout="row" layout-align="center center" layout-wrap>
          <a href="{{ sponsor.url }}" ng-repeat="sponsor in level.sponsors">
            <img src="{{ sponsor.logo | thumbnail:'w=250&h=250' }}" alt="{{ sponsor.name }}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>