{% extends "base.html" %}{% load static thumbnail django_markdown %}
{% block content %}
<div id="home" class="home container">
  <div class="home-img">
    <h1><span>{{ conference.name }}</span></h1>
  </div>
</div>
{% if sponsorCount > 0 %}
<div id="sponsors" class="home container">
  <ul class="levels">
    {% for l in sponsorLevels %}
    {% if l.sponsors.count > 0 %}
    <li>
      <div class="sponsors">
        <div>
          <h3>{{ l.name }} Sponsors:</h3>
        </div>
        {% for s in l.sponsors %}
        <div>
          {% thumbnail s.logo "180x75" format="PNG" as im %}
          <a href="{{ s.url }}"><img src="{{ im.url }}" alt="{{ s.name }}"></a>
          {% empty %}
          <h4><a href="{{ s.url }}">{{ s.name }}</a></h4>
          {% endthumbnail %}
        </div>
        {% endfor %}
      </div>
      <div class="clear"></div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class="home container">
  <div class="intro">
    {{ conference.description|markdown }}
  </div>
</div>
<div id="latest" class="container" style="max-width: 800px;">
  <hr>
  {% if LATEST_POST %}
  {% with post=LATEST_POST %}
  <h2>Latest Blog Post: <a href="{% url "blog:detail" post.blog.slug post.slug %}">{{ post.title }}</a></h2>
  <div class="post">
    <a class="main-img" href="{% url "blog:detail" post.blog.slug post.slug %}">
    {% thumbnail post.first_image.file "250x192" crop="center" as im %}
    <img src="{{ im.url }}" alt="">
    {% empty %}
    
    {% endthumbnail %}
    </a>
    <div class="date">
      {{ post.publish|date:"M d, Y" }}
    </div>
    <div class="body">
      {{ post.body|markdown|striptags|truncatewords:40 }}
      <p>
        <a href="{% url "blog:detail" post.blog.slug post.slug %}">Read More &raquo;</a>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
  {% endwith %}
  {% endif %}
  <p style="font-size: 140%;">
    <br>
    Follow <a href="https://twitter.com/pytexas">@pytexas</a> for updates.
  </p>
</div>
{% endblock %}